* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

#screen {
	position: absolute;
	top: 100px;
	left: 100px;
	z-index: 1;
	background-color: azure;
}

.window {
	border: 1px solid #404040;
	border-radius: 5px;
	background-color: #ffffff;
	position: relative;
	overflow: hidden;
}

#emailwindow {
	width: 400px;
	height: 300px;
}

#emailtable {
	border-collapse: collapse;
	width: 100%;
}

#emailtable td {
	border: 1px solid #808080;
}
