* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

p {
	margin: 1em 0;
}

#canvas {
	position: absolute;
	pointer-events: none;
	z-index: 1;
}

#clock {
	position: absolute;
	top: 1em;
	right: 1em;
	pointer-events: none;
	z-index: 2;
	background-color: #200000;
	color: #ff0000;
	border: 1px solid #ff0000;
	border-radius: 0.25em;
	padding: 0.75em;
	font-family: monospace;
	font-size: 32px;
}

#screen {
	position: absolute;
	margin: 75px;
	width: calc(100% - 150px);
	height: calc(100% - 150px);
	z-index: 0;
	background-color: #8080c0;
	border: 8px solid #000000;
}

#screencontainer {
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: relative;
}

.window {
	border: 1px solid #404040;
	border-radius: 5px;
	background-color: #ffffff;
	position: absolute;
	width: 400px;
	min-height: 300px;
	max-height: 100%;
	display: grid;
	grid-template-rows: min-content minmax(0, 1fr);
	grid-template-columns: auto;
}

.windowcontent {
	overflow: auto;
	position: relative;
}

.windowtitle {
	user-select: none;
	background-color: #202040;
	color: #ffffff;
	cursor: move;
	padding: 0.25em;
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: minmax(0, 1fr) min-content;
}

.windowclose {
	background-color: #ff0000;
	padding: 2px;
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	text-align: center;
	border-radius: 100%;
	border: none;
}

.windowclose:hover {
	background-color: #d00000;
}

.windowclose:active {
	background-color: #a00000;
}

#emailtable {
	border-collapse: collapse;
	width: 100%;
	user-select: none;
	table-layout: fixed;
}

#emailtable td {
	border: 1px solid #808080;
}

#emailtable td:last-child {
	width: 4em;
}

#emailtable tr:hover {
	background-color: #e8e8e8;
}

#emailtable tr:active {
	background-color: #d0d0d0;
}

#messagewindow {
	display: none;
}

#messagefromdetails {
	padding: 1em;
	background-color: #a0d0ff;
	border-bottom: 1px solid #000000;
	font-size: 80%;
}

#messagecontent {
	padding: 0 1em;
	white-space: pre-line;
}

#responsecontainer {
	padding: 1em;
	padding-top: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

#responsecontainer button {
	padding: 0.5em 1em;
	margin: 0.5em;
	font-family: inherit;
	font-size: inherit;
}

input {
	font-family: inherit;
	font-size: inherit;
}

#responsecontainer table {
	width: 100%;
	text-align: center;
}

#mapwindow {
	right: 0;
}

#map {
	display: block;
	width: 100%;
	cursor: crosshair;
}

#mapcursorpos {
	font-size: 75%;
	color: #ffffff;
	background-color: #000000;
	padding: 0.5em;
	margin: 0.5em;
	position: absolute;
	bottom: 0;
	left: 0;
	pointer-events: none;
}

#mappin {
	position: absolute;
	pointer-events: none;
}
