* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#canvas {
	position: absolute;
	pointer-events: none;
	z-index: 1;
}

#screen {
	position: absolute;
	margin: 75px;
	width: calc(100% - 150px);
	height: calc(100% - 150px);
	z-index: 0;
	background-color: #8080c0;
	border: 8px solid #000000;
}

#screencontainer {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.window {
	border: 1px solid #404040;
	border-radius: 5px;
	background-color: #ffffff;
	position: relative;
	overflow: hidden;
}

.windowtitle {
	user-select: none;
	background-color: #202040;
	color: #ffffff;
	cursor: move;
	padding: 0.25em;
}

#emailwindow {
	width: 400px;
	height: 300px;
}

#emailtable {
	border-collapse: collapse;
	width: 100%;
}

#emailtable td {
	border: 1px solid #808080;
}
